* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background: #f5f5f5;
    color: #4e4e4e;
    text-align: center;
}

h4, h5, h6 {
    color: #1e1e1e;
}


header {
    background-color: #383232;
    color: #fff;
    padding: 15px;
    text-align: left;
    position: sticky;
    height: auto;
}

nav {
    background-color: #404040;
    color: #fff;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li:hover {
    background-color: transparent;
}

.active, a:hover {
    background: #000000;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.main {
    background-image: url(".jpg");
    width: 100%;
    height: 89vh;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 950px) {
    .logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 850px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, .active {
        background: none;
        color: #000000;
    }

    #check:checked ~ ul {
        left: 0;
    }
}


button {
    background-color: transparent;
    border: 3px ridge #149CEA;
    border-radius: 0.3em;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
    width: 10em;
    position: relative;
    height: 3.5em;
    transition: 1s;
    font-weight: bold;
}

button::after {
    content: "";
    position: absolute;
    top: -8.5px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #404040;
    transition: 0.5s;
    transform-origin: center;
}

button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 70.9%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #404040;
    transition: 0.5s;
}

button:hover::before, button:hover::after {
    transform: scale(0);
}

button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}

.button2, .button3, .button4, .button5 {
    background-color: transparent;
}


.background-image {
    position: relative;
    height: 650px; 
    text-align: center;
    color: white; 
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(); 
    background-size: cover;
    background-position: center;
    filter: brightness(50%); 
}

h1 {
    font-size: 50px; 
    position: absolute;
    text-transform: capitalize;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    z-index: 1;
}

.flip-card {
    background-color: transparent;
    width: 400px; 
    height: 300px;  
    perspective: 1000px; 
    display: inline-block;
    margin: 20px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
}

.flip-card-front {
    background-color: #bbb; 
    color: rgb(255, 255, 255); 
}

.flip-card-back {
    background-color: #000; 
    color: white; 
    transform: rotateY(180deg); 
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.card-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.flip-card-back p {
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    color: #02886f;
    text-align: center;
}

.subtitle {
    color: #02886f;
}

.subtitle::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #02886f;
    margin: 10px auto;
}

.phase {
    margin-bottom: 20px;
}

.phase p {
    text-align: justify;
}


.symptoms-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.symptom {
    width: calc(33.33% - 40px);
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border: 2px solid #02886f; /* Borde */
    text-align: center;
}

.symptom:hover {
    transform: translateY(-5px);
}

.symptom-icon {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.symptom-description {
    font-size: 1.1em;
    line-height: 1.5;
}


.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: calc(50% - 40px);
    max-width: 500px;
}

.content {
    padding: 20px;
}
